[submodule "modules/mWindowsSDK"]
	path = modules/mWindowsSDK
	url = https://github.com/SkyLined/mWindowsSDK/
[submodule "modules\\mNotProvided"]
	path = modules\\mNotProvided
	url = https://github.com/SkyLined/mNotProvided
